(ns oc.change.db.migrations.add-gsi-to-read
  (:require [taoensso.faraday :as far]
            [oc.lib.db.migrations :as m]
            [oc.change.config :as config]
            [oc.change.resources.read :as read]
            [oc.change.resources.common :refer (gsi-exists-on-table?)]))

;; NB: The fact that these migrations have been run already does not currently persist, so the up method
;; needs to be idempotent
(defn up [dynamodb-opts]

  (println
   (if (gsi-exists-on-table? dynamodb-opts read/user-id-gsi-name read/table-name)
     (format "%s index already exists on %s, skipping" read/user-id-gsi-name read/table-name)
     @(far/update-table dynamodb-opts
                        read/table-name
                        {:gsindexes {:operation :create
                                     :name read/user-id-gsi-name
                                     :billing-mode :pay-per-request
                                     :hash-keydef [:user_id :s]
                                     :range-keydef [:container_id :s]
                                     :projection :all}})))

  true) ; return true on success
